*{
    margin: 10px;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #56beeb;
}
.div1{
    height: 90px;
    width: 100%;
    background: rgb(94, 223, 83);
}
h1 {
	padding: 9px 0px;
	text-align: center;
	color: #FFF;
	background: black;
}

.table{
    width: 300px;
    margin: auto;
    background: #81ecec;
    padding: 5px;
}

.table thead{

    background: black;

    color: white;
    font-weight: bold;
}

.table thead tr th {
	padding: 20px 75px;
	font-size: 17px;
}

.table tbody tr td {
	padding: 8px 55px;
	font-size: 15px;
	font-weight: bold;
}

.table tbody tr:nth-child(even){
	background-color: rgb(123, 218, 86);
}
.table tbody tr:nth-child(odd){
	background-color: rgb(211, 153, 67);
}

